.form-title{
    font-size:4ch;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    color: rgba(240, 235, 235, 0.836);
}

.out-form{
    padding-top: 60px;
}

.out-form #back{
    margin-right: 10%;
    height: 43px;
}

.in-form{
    width: 500px; 
    height:400px; 
    margin: auto;  
    padding: 80px;
    margin: 20 0 0 450px;  
    background-color:  rgb(50, 143, 143);  
    box-shadow: 10px 10px ;
    border-radius: 10px ;
   
}

.form-input{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 2px;  
    font-weight: bold;
    border-top: 2cm;
    }  

.form-label
{
    font-size: 15px;
    padding-right: 2cm;
}

.send{  
    width: 30%;
    padding: 6px 0;
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    background-color: indigo;
    border-radius: 5px;
    } 
    
    .send:hover {
        box-shadow: 3px 3px 6px rgb(240, 240, 240);
        }
h6{
    color: white;
    text-align: center;
}

.balance-form{
    width: 500px; 
    height:300px; 
    margin: auto;  
    padding: 80px;
    margin: 20 0 0 450px;  
    background-color:  lightseagreen;  
    box-shadow: 10px 10px ;
    border-radius: 5px ;
}

#balance{
    display: none;
    font-size: 40px;
    color: rgba(240, 235, 235, 0.836);
    padding-left: 550px;
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
