#about{

  padding-bottom: 0px;

  color: black;

  font-weight: bold;

  padding-left: 10px;



}



#about:hover{

  background-color: white;

}

@import url('https://www.w3schools.com/w3css/4/w3.css')
